@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html{
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --text-navbar: #f4f4f4;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

section{
    padding-top: 60px;
}

header{
    position: fixed;
    z-index: 999;
    width: 100%;
    display: grid;
    grid-template-columns: 0.4fr auto minmax(340px, 3fr) 0.4fr;
    color: var(--text-navbar);
    transition: all ease-in-out 350ms;
}

header h2{
    font-weight: 250;
}

nav{
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-home{
    grid-column: 2/3;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li{
    margin-left: 3em;
    margin-bottom: 0;
}

header a{
    color: inherit;
    text-decoration: none;
    position: relative;
}

nav a::before{
    content: "";
    bottom: -3px;
    height: 3px;
    right: 0;
    left: 0;
    display: block;
    position: absolute;
    background: black;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 350ms;
}

nav a:hover::before{
    transform: scale(1, 1);
}


.mynav-scrolled{
    --text-navbar: #000;
    background-color: white;
    box-shadow: 0 3px 20px rgb(0, 0, 0, 0.2);
}


#section-home .intro-overlay{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://wallpaperaccess.com/full/5499054.jpg);
}

#section-home{
    margin: 0 auto;
    height: 90vh;
    padding: 0;
}

#section-home .intro-overlay div{
    display: flex;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
}

.intro-overlay h1{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 350%;
}

#section-home #introduction{
    color: white;
}

#section-home .arrow-down{
    border: solid #aaa;
    display: inline-block;
    border-width: 0 3px 3px 0;
    padding: 15px;
    transform: rotate(45deg);
}

#section-about{
    height: 100vh;
}

#section-about h1{
    text-align: center;
}

#section-about p{
    width: 40rem;
    font-size: 1.2rem;
    margin: 20px auto;
    font-weight: 500;
    text-align: center;
}

.card-img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

#section-exp{
    height: 100vh;
}

#section-exp .university-container{
    display: flex;
    align-items: center;
}

#section-exp .rose-logo{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-right: 20px;
}

#section-exp .body-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-exp .tech-img{
    width: 7rem;
    height: 7rem;
    object-fit: contain;
}

#section-exp .tech-img-sp{
    object-fit: cover;
}

#section-projects{
    height: 100vh;
    
}