@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html{
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

:root{
    --text-navbar: #f4f4f4;
    --underline-navbar: white;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

section{
    padding-top: 60px;
    margin-bottom: 5rem;
}

header{
    position: fixed;
    z-index: 999;
    width: 100%;
    display: grid;
    grid-template-columns: 0.4fr auto minmax(340px, 3fr) 0.4fr;
    color: var(--text-navbar);
    transition: all ease-in-out 350ms;
}

header h3{
    font-weight: 250;
}

nav{
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-home{
    grid-column: 2/3;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li{
    margin-left: 3em;
    margin-bottom: 0;
}

header a{
    color: inherit;
    text-decoration: none;
    position: relative;
}

nav a::before{
    content: "";
    bottom: -3px;
    height: 3px;
    right: 0;
    left: 0;
    display: block;
    position: absolute;
    background: var(--underline-navbar);
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 350ms;
}

nav a:hover::before{
    transform: scale(1, 1);
}


.mynav-scrolled{
    --text-navbar: #000;
    --underline-navbar: #393D47;
    background-color: white;
    box-shadow: 0 3px 20px rgb(0, 0, 0, 0.2);
}


#section-home .intro-overlay{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url(https://wallpaperaccess.com/full/5499054.jpg);
}

#section-home{
    margin: 0 auto;
    height: 90vh;
    padding: 0;
}

#section-home .intro-overlay div{
    display: flex;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
}

.intro-overlay h1{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 350%;
}

#section-home #introduction{
    color: white;
}

#section-home .arrow-down{
    border: solid #aaa;
    display: inline-block;
    border-width: 0 3px 3px 0;
    padding: 15px;
    transform: rotate(45deg);
}

#section-about h1{
    text-align: center;
}

#section-about p{
    width: 40rem;
    font-size: 1.2rem;
    margin: 20px auto;
    font-weight: 500;
    text-align: center;
}

.card-img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

#section-exp{
    color: white;
    margin-bottom: 0;
}

#section-exp .university-container{
    display: flex;
    align-items: center;
}

#section-exp .rose-logo{
    background-color: white;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    margin-right: 20px;
}

#section-exp .body-center{
    background-color: #393D47;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.university-info{
    font-size: 18px;
    font-weight: bold;
}

#section-exp .tech-img{
    width: 7rem;
    height: 7rem;
    object-fit: contain;
}

.text-center{
    text-align: center;
}

ul.courses li{
    list-style-type: circle;
    list-style-position: inside;
    font-size: 18px;
    margin-bottom: 6px;
}

#section-exp .tech-img-sp{
    object-fit: cover;
}

#section-exp .tech{
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 3px;
}

#section-exp .spacing{
    margin: 2rem 0;
}

#section-exp .resume{
    color: white;
    margin: 2rem 0;
}

#section-projects{
    text-align: center;
}

#section-projects h1{
    margin: 3rem;
}

.proj-container{
    display: flex;
    justify-content: center;
    width: 85%;
    flex-wrap: wrap;
    gap: 6rem;
    margin: 0 auto;
}

.ind-proj{
    position: relative;
}

.proj-pic{
    width: 22rem;
    height: 22rem;
    border-radius: 10px;
    object-fit: contain;
}

.proj-desc-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 22rem;
    height: 22rem;
    border-radius: 10px;
    opacity: 0;
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px gray solid;
    transition: opacity 250ms ease-in-out;
}

.proj-desc-container:hover{
    opacity: 0.85;
}

.proj-desc{
    text-align: center;
    padding: 20px;
}

.proj-desc h2{
    text-decoration: underline;
}

.proj-desc p{
    font-size: 17px;
    font-weight: bolder;
}

.fade-in{
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

footer{
    padding: 20px 0;
    color: white;
    text-align: center;
    background-color: #222;
}


footer a{
    color: white;
    padding: 2px;
}